<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280912410238-c03t60143p06mojcflhpqdso8k83uluv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280912410238-c03t60143p06mojcflhpqdso8k83uluv</string>
	<key>API_KEY</key>
	<string>AIzaSyAIXj5RCjLZLyMgSTiJfUt44pq7tXcPpF0</string>
	<key>GCM_SENDER_ID</key>
	<string>280912410238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachelsaunders.GAM730-TestingFirebase</string>
	<key>PROJECT_ID</key>
	<string>gam730-testingfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>gam730-testingfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280912410238:ios:79ed768a1a4b5634724a2f</string>
	<key>DATABASE_URL</key>
	<string>https://gam730-testingfirebase.firebaseio.com</string>
</dict>
</plist>